*{
    text-decoration: none;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center center ;
    margin-left: 25vw; 
    float: center;
    
    
}

.container2 .imagen img{
    margin-bottom: 150px;
    width: 400px;
    height: auto;
}

.container2 h1{
    color: black;
   
}

.container2 h2{
    color: black;
     
}